<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/Css/Style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Bem-vindo ao Gerenciador de Produtos</h1>
    <p>Este é o projeto de gerenciamento de produtos.</p>

 <div class="info-box">
        <h2>O que você pode fazer?</h2>
        <ul>
                <li><strong>Listar Produtos:</strong> Veja todos os produtos cadastrados</li>
                <li><strong>Adicionar Produtos:</strong> Cadastre novos produtos com nome e preço</li>
                <li><strong>Deletar Produtos:</strong> Remova produtos da lista</li>
            </ul>
        </div>
</body>
</html>